.hero{
	font-family: 'Crimson Text', serif;
	padding: 6rem 0 1rem;
	text-align: center;
}

.hero-text {
	position: relative;
	white-space: nowrap;
	font-size: 1.5rem;
	line-height: .6;
}

.low-poly {
	margin-left: 20%;
	position: relative;
	width = 100%;
	
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.icons {
	margin-top: 9%;
	font-size: 2.2rem;
}

html, body {
	overflow-y: visible;
	max-height: 100%
}

h3 {
	font-size: 1.9rem; 
	line-height: 2.2; 
	letter-spacing: .05rem;
}

i { 
	display: block;
	margin: 0 2.5% 0 2.5%; 
}

a.icon {
	text-decoration: none;
	color: inherit;
}

a.icon:hover {
	color: #a2cbe2
}

a.underline {
	text-decoration: none;
	color: inherit;
	background-image: linear-gradient(120deg, #e0eafc 0%, #cfdef3 100%);
	background-repeat: no-repeat;
	background-size: 100% 0.2em;
	background-position: 0 88%;
	transition: background-size 300ms ease-in;
	-webkit-transition: background-size 275ms ease-in;
}

a.underline:hover{
	background-size: 100% 77%;
}

@media (min-width: 550px) {
	.hero {
		padding: 1rem;
	}

	.hero {
		text-align: right;
		padding: 6rem 0 5rem;

	}

	.hero-text {
		width: 210%;
		font-size: 2.0rem;
		margin-top: 4.5rem;
		margin-left: -100%;
		line-height: 1.5;
	}

	.icons {
		margin-top: 5%;
		font-size: 2rem;
	}

	h3 { font-size: 1.5rem; line-height: 2.0; letter-spacing: 0rem; }
	p { margin: -.5rem; }

	.low-poly {
		margin-left: -20%;
	}
}

@media (min-width: 750px) {
	.hero {
		padding: 2rem;
	}

	.hero-text {
		width: 195%;
		font-size: 2.65rem;
		margin-top: 7rem;
		margin-left: -90%;
	}

	.icons {
		margin-top: 4%;
		font-size: 2.2rem;
	}

	p { margin: -.5rem; }
	h3 { font-size: 1.85rem; line-height: 1.8; letter-spacing: -.05rem; } 
}

@media (min-width: 1000px) {
	.hero {
		padding: 3rem;
	}

	.hero-text {
		width: 220%;
		height: auto;
		font-size: 3.55rem;
		margin-top: 8rem;
		margin-left: -110%;
	}

	.icons {
		margin-top: 3%;
		font-size: 2.9rem;
	}

	p { margin: -.5rem; }
	h3 { font-size: 2.33rem; line-height: 1.5; letter-spacing: -.08rem; }
}

@media (min-width: 1200px) {
	.hero {
		padding: 4rem;
	}

	.hero-text {
		margin-top: 8rem;
		margin-left: -128%;
		width: 250%;
		font-size: 4.9rem; 
		line-height: 1.25; 
		letter-spacing: -.1rem;
	}

	.icons {
		margin-top: 3%;
		font-size: 3.8rem;
	}

	p { margin: 1rem; }
	h3 { font-size: 2.8rem; line-height: 1.3;  letter-spacing: -.1rem; padding-right: 4px; }
}